<div class="panel-heading">Active Cards</div>
<div class="panel-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Card Name</th>
                <th>Date/Time</th>
                <th>Title</th>
                <th>Name</th>
                <th>Message</th>
                <th>Unique URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Card</td>
                <td>18-01-2018 16:31:27</td>
                <td>Card Title</td>
                <td>Card user name</td>
                <td>Have a wonderful birthday. I wish your every day to be filled with lots of love, laughter, happiness and
                    the warmth of sunshine.</td>
                <td>
                    <a href="http://www.cardapp.com/cards/38473246284978934" target="_blank">http://www.cardapp.com/cards/38473246284978934</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>