   <div class="panel panel-default">
                        <div class="panel-heading">Card Themes <a class="pull-right" href="#"  data-toggle="modal" data-target="#NewCard"><span class="glyphicon glyphicon-plus"></span> Add New Card</a></div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Active/Inactive</th>
                                        <th>Card #</th>
                                        <th>Card Name</th>
                                        <th>Image</th>
                                        <th>Message</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="">
                                                <label>
                                                    <input type="checkbox"> &nbsp;
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td>Birthday Card</td>
                                        <td><img src="images/cardimage/card-img-love-001.png" width="80"></td>
                                        <td>Have a wonderful birthday. I wish your every day to be filled with lots of love, laughter, happiness and the warmth of sunshine.</td>
                                        <td><span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#EditCard"></span></td>
                                        <td><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#DeleteCard"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
