<div class="panel-heading">Settings</div>
<div class="box">
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputPassword1">Card Expiring Days</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="30">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</div>
<div class="box">
    <div class="panel-heading">Password Reset</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="exampleInputPassword1">Current Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Retype New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</div>
<div class="box">
    <div class="panel-heading">Adword Code</div>
    <div class="panel-body">
        <div class="form-group">
            <textarea class="form-control" id="exampleInputPassword1" placeholder="Adword Code"> </textarea>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</div>
<div class="box">
    <div class="panel-heading">Google Tracking Code</div>
    <div class="panel-body">
        <div class="form-group">
            <textarea class="form-control" id="exampleInputPassword1" placeholder="Google Tracking Code"> </textarea>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</div>