<div class="col-md-12">
    <div class="box">
        <div class="boxheader">
            <h1><i class="ti-settings"></i> Settings</h1>
        </div>
        <button data-toggle="modal" data-target="#SettingCard" class="btn btn-secondary btn-box" title="Web Settings"><i class="ti-world"></i> Web Setting</button>
        <button data-toggle="modal" data-target="#SettingPass" class="btn btn-secondary btn-box" title="Password Settings"><i class="ti-key"></i> Password</button>
        <button data-toggle="modal" data-target="#SettingSEO" class="btn btn-secondary btn-box" title="SEO Settings"><i class="ti-pulse"></i> SEO Setting</button>
        <button data-toggle="modal" data-target="#SettingAdword" class="btn btn-secondary btn-box" title="Adword Settings"><i class="ti-shopping-cart"></i> Adword Code</button>
        <button data-toggle="modal" data-target="#SettingTracking" class="btn btn-secondary btn-box" title="Tracking Settings"><i class="ti-target"></i> Tracking Code</button>
    </div>
</div>
<div class="modal fade" id="SettingCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="ti-world"></i> Site Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Website Slag</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Slag">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Admin Mail ID</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="adminmail@yourmail.com">
                </div>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SettingPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="ti-key"></i> Password Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Current Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Retype New Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SettingSEO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="ti-pulse"></i> SEO Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="WebsiteDescription">Website Title</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                    <small class="form-text text-muted">Defines a title for: the document, in the browser toolbar, the page when it is added to favorites, for
                        the page in search-engine results.</small>
                </div>
                <div class="form-group">
                    <label for="WebsiteDescription">Website Description</label>
                    <textarea class="form-control" id="WebsiteDescription" placeholder="Website description"> </textarea>
                    <small class="form-text text-muted">The meta description tag is a brief and concise summary of your page's content.</small>
                </div>
                <div class="form-group">
                    <label for="WebsiteDescription">Website Keywords</label>
                    <textarea class="form-control" id="WebsiteKeywords" placeholder="Website Keywords"> </textarea>
                    <small class="form-text text-muted">A meta keywords tag provides search engines with a list of keywords that are relevant to a webpage.</small>
                </div>
                <div class="form-group">
                    <label for="WebsiteDescription">Author</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                    <small class="form-text text-muted">This element can be used to identify the author of a page (article, blog, ...).</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SettingAdword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="ti-shopping-cart"></i> Adword Code</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="exampleInputPassword1" placeholder="Adword Code"> </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SettingTracking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="ti-target"></i> Tracking Code</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="exampleInputPassword1" placeholder="Google Tracking Code"> </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>