<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <div class="cardbox">
        <h1>Terms and Conditions</h1>
        <p>The above example creates three equal-width columns on small, medium, large, and extra large devices using our predefined grid classes. Those columns are centered in the page with the parent .container. Breaking it down, here’s how it works: Containers provide a means to center and horizontally pad your site’s contents. Use .container for a responsive pixel width or .container-fluid for width: 100% across all viewport and device sizes. Rows are wrappers for columns. Each column has horizontal padding (called a gutter) for controlling the space between them. This padding is then counteracted on the rows with negative margins. This way, all the content in your columns is visually aligned down the left side. In a grid layout, content must be placed within columns and only columns may be immediate children of rows.</p>
    </div>
  </div>
</div>