<div class="row">
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-rocket"></i> Create Card:</h1>
            </div>
            <p class="lead">Yes</p>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-calendar-full"></i> Card Validity:</h1>
            </div>
            <p class="lead">30 Days</p>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-picture"></i> Total Themes:</h1>
            </div>
            <p class="lead">80</p>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-tag"></i> Active Themes:</h1>
            </div>
            <p class="lead">20</p>
        </div>
    </div>
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-diamond"></i> Active Cards:</h1>
            </div>
            <p class="lead">50393</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-screen"></i> Default Card</h1>
                <button data-toggle="modal" (click)="editCard()" data-target="#EditDefault" class="btn btn-primary btn-optionbar" title="Edit Default"><i class="lnr lnr-pencil"></i> Edit Default</button>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <img [src]="imagePath" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="box">
                            <p class="lead">{{message}}</p>
                        </div>
                        <div class="box">
                            <small>
                                <h4>Important Message</h4>
                                <ul>
                                    <li>Image should be Square and Minimum resolution 500px x 500px</li>
                                    <li>Default message and image will display in front page of the website.</li>
                                </ul>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <form [formGroup]="adminEditForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Change default card and message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p><label for="DefaultImage">Default Image</label></p>
                        <input class="form-control" id="avatar" #fileInput (change)="onFileChange($event)" type="file">
                        <div class="imageouter">
                            <img [src]="editImage" class="img-fluid center-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WebsiteDescription">Default Message</label>
                        <textarea class="form-control" id="WebsiteMessage" formControlName="emessage" placeholder="Website Message" maxlength="160"> </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" (click)="updateCard()" [disabled]="!adminEditForm.valid" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>