<div class="col-md-2">
    <div class="box">
        <div class="boxheader">
            <h1>Create Card:</h1>
        </div>
        <p class="lead">Yes</p>
    </div>
</div>
<div class="col-md-2">
    <div class="box">
        <div class="boxheader">
            <h1>Card Validity:</h1>
        </div>
        <p class="lead">30 Days</p>
    </div>
</div>
<div class="col-md-2">
    <div class="box">
        <div class="boxheader">
            <h1>Total Themes:</h1>
        </div>
        <p class="lead">80</p>
    </div>
</div>
<div class="col-md-2">
    <div class="box">
        <div class="boxheader">
            <h1>Active Themes:</h1>
        </div>
        <p class="lead">20</p>
    </div>
</div>
<div class="col-md-4">
    <div class="box">
        <div class="boxheader">
            <h1>Active Cards:</h1>
        </div>
        <p class="lead">50393</p>
    </div>
</div>
<div class="col-md-12">
    <div class="box">
        <div class="boxheader">
            <h1>Default Card</h1>
            <button data-toggle="modal" data-target="#EditDefault" class="btn btn-primary btn-sm pull-right" title="Edit Default">Edit Default</button>
        </div>
        <div>
            <div class="row">
                <div class="col-md-4">
                    <img [src]="imagePath" class="img-responsive">
                </div>
                <div class="col-md-4">
                    
                <div class="col-md-8">
                    <div class="box">
                        <p class="lead">{{message}}</p>
                    </div>
                    <div class="box">
                        <small>
                            <h4>Important Message</h4>
                            <ul>
                                <li>Image should be Square and Minimum resolution 500px x 500px</li>
                                <li>Default message and image will display in front page of the website.</li>
                            </ul>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Change default card and message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p><label for="DefaultImage">Default Image</label></p>
                    <img [src]="imagePath" width="200"><br><br>
                    <input type="file" id="DefaultImage">
                </div>
                <div class="form-group">
                    <label for="WebsiteDescription">Default Message</label>
                    <textarea class="form-control" id="WebsiteMessage" placeholder="Website Message"> </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>