<div class="row">
    <div class="col-sm">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-heart"></i> Live Cards:</h1>
            </div>
            <p class="lead">5033</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-gallery"></i> Total Themes:</h1>
            </div>
            <p class="lead">80</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-id-badge"></i> Active Themes:</h1>
            </div>
            <p class="lead">20</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-flag"></i> Create Card:</h1>
            </div>
            <p class="lead">Yes</p>
        </div>
    </div>
    <div class="col-sm">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-alarm-clock"></i> Card Validity:</h1>
            </div>
            <p class="lead">30 Days</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="ti-palette"></i> Card</h1>
            </div>
            <div>
                <button data-toggle="modal" data-target="#ViewCard" class="btn btn-secondary btn-box" title="Card Preview"><i class="ti-id-badge"></i> Home Card</button>
                <button data-toggle="modal" (click)="editCard()" data-target="#EditDefault" class="btn btn-secondary btn-box" title="Edit Defaults"><i class="ti-ruler-pencil"></i> Edit Defaults</button>
                <button data-toggle="modal" data-target="#CardSettings" class="btn btn-secondary btn-box" title="Card Settings"><i class="ti-panel"></i> Card Settings</button>
                <button data-toggle="modal" data-target="#Instructions" class="btn btn-secondary btn-box" title="Instructions"><i class="ti-info-alt"></i> Instructions</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="pcard">
                <div class="cardouter">
                    <div class="cardinner clearfix">
                        <div class="cardleft">
                            <p>{{intro}}</p>
                            <div class="imageouter">
                                <img [src]="imagePath" class="img-fluid">
                            </div>
                        </div>
                        <div class="cardright">
                            <div class="pad015">
                                <div class="stamp">
                                    <div class="rubberstamp">14-02-2018 12:40</div>
                                </div>
                                <h1 class="cardtext">Hi, {{recipient}}</h1>
                                <p class="cardtext">{{message}}</p>
                                <h2 class="cardtext text-right">- {{name}}</h2>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="cardfooter">Made with <span>❤</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <form [formGroup]="adminEditForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="ti-ruler-pencil"></i> Edit default image and message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ti-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="FromName">Intro Text</label>
                        <input class="form-control" id="IntroTxt" placeholder="Intro" maxlength="20">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="avatar" #fileInput (change)="onFileChange($event)" type="file">
                    </div>
                    <div class="form-group">
                        <div class="imageouter">
                            <img [src]="editImage" class="img-fluid center-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WebsiteMessage">Default Message</label>
                        <textarea class="form-control" id="WebsiteMessage" formControlName="emessage" placeholder="Website Message" maxlength="160"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="ToName">To Name</label>
                        <input class="form-control" id="ToName" placeholder="To name" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="FromName">From Name</label>
                        <input class="form-control" id="FromName" placeholder="From name" maxlength="20">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="updateCard()" [disabled]="!adminEditForm.valid" class="btn btn-primary"><i class="ti-cloud-up"></i> Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="CardSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="ti-panel"></i> Card Setting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Card Validity Days</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="exampleInputPassword1" value="30" placeholder="Enter Card Validity Days">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Days</div>
                        </div>
                    </div>
                    <small class="form-text text-muted">Default will be 30 Days</small>
                </div>
                <div class="form-group">
                    <label class="switch">
                        <input type="checkbox" checked [checked]="sb.isactive">
                        <span class="slider"></span>
                    </label>Can user create new cards
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="ti-save"></i> Save</button> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
            <form [formGroup]="adminEditForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><i class="ti-info-alt"></i> Instructions</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ti-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <small>
                            <h4>Important Message</h4>
                            <ul>
                                <li>Image should be Square and Minimum resolution 500px x 500px</li>
                                <li>Default message and image will display in front page of the website.</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>