<div class="row">
    <div class="col">
        <div class="wrap">
            <div class="pcard" [ngClass]="cardclass" id="PostCard">
                <div class="cardouter noselect">
                    <div class="cardinner clearfix">
                        <div class="cardleft">
                            <p>{{intro}}</p>
                            <div class="imageouter">
                                <div class="imgsaf"></div>
                                <img [src]="viewtheme" class="img-fluid cardimg" alt="Card Photo" title="Card Image">
                            </div>
                        </div>
                        <div class="cardright">
                            <div class="stamp">
                                <div class="rubberstamp">{{dt | date:dtformat}}</div>
                            </div>
                            <div class="pad015">
                                <h1 class="cardtext">Hi, {{recipient}}</h1>
                                <p class="cardtext">{{message}} </p>
                                <h2 class="cardtext text-right">- {{name}}</h2>
                                <div class="showonhower">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#ShareLink" title="Click to Share Your PostCardi">
                                        <i class="ti-share"></i> Share</button>
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#NewCard" title="Click to Create Your PostCardi">
                                        <i class="ti-pencil"></i> New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cardfooter">Made with
                        <span>❤</span>
                    </div>
                </div>
                <!-- <div [ngStyle]="{'display': sharemsg}">NEW MESSAGE</div> -->
            </div>
            <div class="postouter" (click)="test()" id="OpenPost">
                <img src="assets/images/postcardindicator.svg" class="postcardindicator" alt="postcard icon" title="You Have One Message">
                <img src="assets/images/postcard.svg" class="postcard" alt="postcard icon" title="Click to View PostCatd!">
                <img src="assets/images/postcover1.svg" class="postcover1" alt="postcard top icon" title="Postcard Open">
                <img src="assets/images/postcover2.svg" class="postcover2" alt="postcard bottom icon" title="Click to View Message">
            </div>
        </div>
    </div>
</div>
<div class="btn-post" [ngStyle]="{'display': showbtn}" id="ProVTrigger" data-toggle="modal" data-target="#NewCard">
    <span class="no">N</span>
    <span class="bubbles"></span>
    <img src="assets/images/postcover.svg" alt="New Card icon" title="Click to Create Card">
</div>
<div class="modal fade" id="NewCard" tabindex="-1" role="dialog" aria-labelledby="NewCard" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="createcardouter">
                <div class="pcard">
                    <div class="cardouter">
                        <form [formGroup]="rForm">
                            <div class="cardinner clearfix">
                                <div class="cardleft">
                                    <div class="select">
                                        <small>Select Theme</small>
                                        <select formControlName="viewTheme" (change)="onChange()" class="form-control" id="Theme" name="test">
                                            <option *ngFor="let group of ddoption" [value]="group.value">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="imageouter">
                                        <img [src]="theme" class="img-fluid cardimg" alt="Card Photo" title="Card Image">
                                    </div>
                                </div>
                                <div class="cardright">
                                    <div class="pad015">
                                        <p class="text-right">
                                            <small>Post Date/Time: {{dt | date:dtformat}}</small>
                                        </p>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Hi, </div>
                                                </div>
                                                <input formControlName="viewRecipient" class="form-control" type="text" placeholder="Recipient Name" id="Recipient" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Message" class="d-none">Message</label>
                                            <textarea formControlName="viewMessage" class="form-control" placeholder="Message" id="Message" maxlength="160"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"> - </div>
                                                </div>
                                                <input formControlName="viewName" class="form-control text-right" type="text" placeholder="Your name" id="Name" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="marbot10">
                                            <re-captcha (resolved)="resolved($event)" siteKey="6LfwYkQUAAAAAK6ZtmNmEIyIMEmz2BAHhwSdm1m5"></re-captcha>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!rForm.valid" (click)="clicked()"><i class="ti-id-badge"></i> Preview</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"><i class="ti-close"></i> Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="ProVersion" tabindex="-1" role="dialog" aria-labelledby="ProVersion" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="pad30 text-center">
                <p class="lead">Coming Soon!</p>
                <p>PostCardi Pro version coming soon with the custom image, extended characters, extended validity period and much more functionalities.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="ti-check"></i> OK</button>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="ShareLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div [ngStyle]="{'display': suggestmsg}">
                    <h4>Suggest to Friends!</h4>
                </div>
                <div [ngStyle]="{'display': sharemsg}">
                    <h4>Congratulations!</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close"></span>
                </button>
            </div>
            <div class="modal-body pad0">
                <div class="text-center">
                    <div class="sharesegment bg-infomsg">
                        <div [ngStyle]="{'display': suggestmsg}">
                            <p>Thank you for suggest PostCardi to friends!</p>
                        </div>
                        <div [ngStyle]="{'display': sharemsg}">
                            <p>Now your can share this postcard with friends family and the world.</p>
                        </div>
                        <h6 class="mar0">{{shareurl}}</h6>
                    </div>                    
                    <div class="sharesegment">
                        <p><span class="ti-mobile"></span> Use mobile QR camera scanner to copy URL</p>
                        <ngx-qrcode [qrc-element-type]="qrelementType" [qrc-value]="shareurl"></ngx-qrcode>    
                    </div>
                    <div class="sharesegment">
                        <p><span class="ti-cut"></span> Click to copy URL</p>
                        <div class="clicktocopy clearfix" (click)="copyToClipboard()">
                            <span class="text-left float-left">{{shareurl}}</span>
                            <share-button [url]="shareurl" [button]="'copy'"></share-button>
                        </div>
                    </div>
                    <div class="sharesegment">
                        <p><span class="ti-share"></span> Share with social media</p>
                        <div class="btn-social-grp">
                            <share-button [url]="shareurl" [button]="'facebook'"></share-button>
                            <share-button [url]="shareurl" [button]="'google'"></share-button>
                            <share-button [url]="shareurl" [button]="'twitter'"></share-button>
                            <share-button [url]="shareurl" [button]="'whatsapp'"></share-button>
                            <share-button [url]="shareurl" [button]="'telegram'"></share-button>
                            <share-button [url]="shareurl" [button]="'vk'"></share-button>
                            <share-button [url]="shareurl" [button]="'linkedin'"></share-button>
                            <share-button [url]="shareurl" [button]="'pinterest'"></share-button>
                            <share-button [url]="shareurl" [button]="'reddit'"></share-button>
                            <share-button [url]="shareurl" [button]="'tumblr'"></share-button>
                            <share-button [url]="shareurl" [button]="'email'"></share-button>
                            <!--<share-button [url]="shareurl" [button]="'copy'"></share-button>-->
                            <share-button [url]="shareurl" [button]="'print'"></share-button>
                        </div>
                    </div>
                    <div class="sharesegment">
                        <p [ngStyle]="{'display': suggestmsg}">Thank you for sharing PostCardi.com. Also you can share custom cards with your friends!</p>
                        <p [ngStyle]="{'display': sharemsg}">Thank you for using PostCardi.com. Your card will expired in 30 Days</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="footertxt">
                    <div>8652 Cards Created</div>
                </div>
            </div>
        </div>
    </div>
</div>