<div class="row">
    <div class="col">
        <div class="wrap">
            <div class="pcard" [ngClass]="cardclass" id="PostCard">
                <div class="cardouter noselect">
                    <div class="cardinner clearfix">
                        <div class="cardleft">
                            <p>{{intro}}</p>
                            <div class="imageouter">
                                <div class="imgsaf"></div>
                                <img [src]="viewtheme" class="img-fluid" alt="Card Photo" title="Card Image">
                            </div>
                        </div>
                        <div class="cardright">
                            <div class="stamp">
                                <div class="rubberstamp">{{dt | date:dtformat}}</div>
                            </div>
                            <div class="pad015">
                                <h1 class="cardtext">Hi, {{recipient}}</h1>
                                <p class="cardtext">{{message}} </p>
                                <h2 class="cardtext text-right">- {{name}}</h2>
                                <div class="showonhower">
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#ShareLink" title="Click to Share Your PostCardi">
                                        <i class="ti-heart"></i> Share</button>
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#NewCard" title="Click to Create Your PostCardi">
                                        <i class="ti-wand"></i> New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cardfooter">Made with
                        <span>❤</span>
                    </div>
                </div>
            </div>
            <div class="postouter" (click)="test()" id="OpenPost">
                <img src="assets/images/postcardindicator.svg" class="postcardindicator" alt="postcard icon" title="You Have One Message">
                <img src="assets/images/postcard.svg" class="postcard" alt="postcard icon" title="Click to View PostCatd!">
                <img src="assets/images/postcover1.svg" class="postcover1" alt="postcard top icon" title="Postcard Open">
                <img src="assets/images/postcover2.svg" class="postcover2" alt="postcard bottom icon" title="Click to View Message">
            </div>
        </div>
    </div>
</div>
<div class="btn-post" [ngStyle]="{'display': showbtn}" id="ProVTrigger" data-toggle="modal" data-target="#NewCard">
    <span class="no">Pro</span>
    <span class="bubbles"></span>
    <img src="assets/images/postcover.svg" alt="New Card icon" title="Click to Create Card">
</div>
<div class="modal fade" id="NewCard" tabindex="-1" role="dialog" aria-labelledby="NewCard" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="createcardouter">
                <div class="pcard">
                    <div class="cardouter">
                        <form [formGroup]="rForm">
                            <div class="cardinner clearfix">
                                <div class="cardleft">
                                    <div class="select">
                                        <select formControlName="viewTheme" placeholder="Select" (change)="onChange()" class="form-control" id="Theme" name="test">
                                            <option *ngFor="let group of ddoption" [value]="group.value">{{group.name}}</option>
                                        </select>
                                    </div>
                                    <div class="imageouter">
                                        <img [src]="theme" class="img-fluid" alt="Card Photo" title="Card Image">
                                    </div>
                                </div>
                                <div class="cardright">
                                    <div class="pad015">
                                        <p class="text-right">
                                            <small>Post Date/Time: {{dt | date:dtformat}}</small>
                                        </p>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Hi, </div>
                                                </div>
                                                <input formControlName="viewRecipient" class="form-control" type="text" placeholder="Recipient Name" id="Recipient" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Message" class="d-none">Message</label>
                                            <textarea formControlName="viewMessage" class="form-control" placeholder="Message" id="Message" maxlength="160"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"> - </div>
                                                </div>
                                                <input formControlName="viewName" class="form-control text-right" type="text" placeholder="Your name" id="Name" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="marbot10">
                                            <re-captcha (resolved)="resolved($event)" siteKey="6LfwYkQUAAAAAK6ZtmNmEIyIMEmz2BAHhwSdm1m5"></re-captcha>
                                        </div>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!rForm.valid" (click)="clicked()">
                                            <i class="ti-id-badge"></i> Preview</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                            <i class="ti-close"></i> Close</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="ProVersion" tabindex="-1" role="dialog" aria-labelledby="ProVersion" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="pad30 text-center">
                <p class="lead">Coming Soon!</p>
                <p>PostCardi Pro version coming soon with the custom image, extended characters, extended validity period and much more functionalities.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="ti-check"></i> OK</button>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="ShareLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ti-close"></span>
                </button>
                <div class="text-center">
                    <h1 class="marbot10">
                        <i class="ti-face-smile"></i>
                    </h1>
                    <p class="lead">Congratulations!</p>
                    <p>
                        <small>Now your can Share this postcard with friends family and the world.</small>
                    </p>
                    <p>http://localhost:4200{{href}}</p>
                    <button (click)="copyToClipboard()" ngxClipboard  [cbContent]="textToCopy" class="btn btn-primary btn-block" type="button">
                        <i class="ti-link"></i> Copy your card URL</button>
                    <div class="qrcodewrapper">
                        <ngx-qrcode [qrc-element-type]="qrelementType" [qrc-value] = "qrvalue"></ngx-qrcode>
                        <p>Use mobile QR scaner to copy card URL.</p>
                    </div>
                </div>
                <div class="buttongroup text-center">
                    <button (click)="socialshare()" type="button" class="btn btn-social facebook"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social google"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social whatsapp"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social messenger"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social sms"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social mail"></button>
                    <button (click)="socialshare()" type="button" class="btn btn-social share"></button>
                    <button (click)="print()" type="button" class="btn btn-social print" title="Print this Card"></button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="footertxt">
                    <div>8652 Shares</div>
                </div>
            </div>
        </div>
    </div>
</div>