<div id="wrapper">
    <nav class="navbar fixed-top navbar-expand-md navbar-expand-md">
        <a class="navbar-brand" href="#"><img src="assets/images/logo-blue.svg" height="32" alt="PostCardi Logo" title="PostCardi"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" (click)="logout('card')" title="Home"><i class="ti-world"></i> Go to Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" (click)="logout('login')" title="Logout"><i class="ti-power-off"></i> Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav side-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="navigation('dash')" title="Dashboard"><i class="ti-dashboard"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigation('cardtheme')" title="Card Themes"><i class="ti-palette"></i> Card Themes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigation('activecard')" title="Active Cards"><i class="ti-heart"></i> Live Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigation('pages')" title="Pages"><i class="ti-files"></i> Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigation('setting')" title="Settings"><i class="ti-settings"></i> Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
        <p class="text-center"><small>&copy; Website Slag - 2018</small></p>
    </div>
</div>
