<div id="wrapper">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Website Slag - Admin</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-right top-nav">
                <li>
                    <a (click)="logout('login')" title="Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a (click)="navigation('dash')" title="Dashboard"><span class="glyphicon glyphicon-dashboard"></span></a>
                </li>
                <li>
                    <a (click)="navigation('cardtheme')" title="Card Themes"><span class="glyphicon glyphicon-picture"></span></a>
                </li>
                <li>
                    <a (click)="navigation('activecard')" title="Active Cards"><span class="glyphicon glyphicon-envelope"></span></a>
                </li>
                <li>
                    <a (click)="navigation('pages')" title="Pages"><span class="glyphicon glyphicon-file"></span></a>
                </li>
                <li>
                    <a (click)="navigation('setting')" title="Settings"><span class="glyphicon glyphicon-cog"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <router-outlet></router-outlet>
                <p class="text-center">&copy; Website Slag - 2018</p>
            </div>
        </div>
    </div>
</div>