#wrapper{padding-left:0}
#page-wrapper{width:100%;padding:0;}
.navbar-brand {
    height: 60px;
    font-size: 26px;
    line-height: 30px;
}
@media(min-width:768px) {
    #wrapper{padding-left:75px}
    #page-wrapper{padding:70px 10px}    
    }
.top-nav{padding:0 15px}
.top-nav>li{display:inline-block;}
.top-nav>li>a{padding-top:20px;padding-bottom:20px;line-height:20px;color:#fff}
.top-nav>li>a:hover,.top-nav>li>a:focus,.top-nav>.open>a,.top-nav>.open>a:hover,.top-nav>.open>a:focus{color:#fff;background-color:#565656}
.top-nav>.open>.dropdown-menu{float:left;position:absolute;margin-top:0;border-top-left-radius:0;border-top-right-radius:0;background-color:#fff;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}
.top-nav>.open>.dropdown-menu>li>a{white-space:normal}
    @media(min-width:768px) {
    .side-nav{position:fixed;top:60px;left:75px;width:75px;margin-left:-75px;border:none;border-radius:0;border-top:1px rgba(0,0,0,.5) solid;overflow-y:auto;background-color:#222222;bottom:0;overflow-x:hidden;padding-bottom:40px}
    .side-nav>li>a{width:75px;border-bottom:1px rgba(0,0,0,.3) solid;font-size: 30px;text-align: center;}
    .side-nav li a:hover,.side-nav li a:focus{outline:none;background-color:#1a242f!important}
    }
.side-nav>li>ul{padding:0;border-bottom:1px rgba(0,0,0,.3) solid}
.side-nav>li>ul>li>a{display:block;padding:10px 15px 10px 38px;text-decoration:none;color:#fff;}
.side-nav>li>ul>li>a:hover{color:#fff}