<div class="row">
    <div class="col">
        <div class="box">
            <div class="boxheader">
                <h1><i class="lnr lnr-magic-wand"></i> Card Themes</h1>
                <Button (click)="reset()" data-toggle="modal" data-target="#NewCard" class="btn btn-primary btn-optionbar"><i class="lnr lnr-plus-circle"></i> Add New Card</Button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Active/Inactive</th>
                            <th>Active Cards</th>
                            <th>Card Theme</th>
                            <th>Message</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sb of cardtheme;let i =index">
                            <td>
                                <label class="switch">
                                    <input type="checkbox" [checked]="sb.isactive">
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td>150</td>
                            <td>{{sb.name}}</td>
                            <td>
                                <p class="ellipsis" title="{{sb.message}}">{{sb.message}}</p>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" title="View Card" (click)="editCard(sb)" data-toggle="modal" data-target="#ViewCard"><i class="lnr lnr-magnifier"></i></button>
                                <button class="btn btn-sm btn-primary" title="Edit Card" (click)="editCard(sb)" data-toggle="modal" data-target="#EditCard"><i class="lnr lnr-pencil"></i></button>
                                <button class="btn btn-sm btn-danger" title="Delete Card" data-toggle="modal" (click)="deleteCard(sb)" data-target="#DeleteCard"><i class="lnr lnr-trash"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"> <h4 class="modal-title" id="myModalLabel"><i class="lnr lnr-plus-circle"></i>  New Card</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="cForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Theme Name</label>
                        <input formControlName="cardName" type="text" class="form-control" id="cardName" placeholder="Card name" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Card Image</label>
                        <input class="form-control" id="avatar" #fileInput (change)="onFileChange($event)" type="file">
                        <div class="imageouter">
                            <img [src]="imagePath" formControlName="cardImage" class="img-fluid center-block">
                        </div>
                        <small class="form-text text-muted">Card main image, Only Square image, Minimum resolution 500px x 500px</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Default Message</label>
                        <textarea formControlName="cardMessage" class="form-control" id="cardMessage1" placeholder="Message" maxlength="160"> </textarea>
                        <small class="form-text text-muted">Max. 160 characters</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card CSS Style</label>
                        <textarea formControlName="cardCss" class="form-control" id="cardCss1" placeholder="Css"> </textarea>
                        <small class="form-text text-muted">Add css for the card</small>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input formControlName="cardIsActive" type="checkbox"> Active
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="savecard()" [disabled]="!cForm.valid" class="btn btn-primary">Publish Card</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-slideout modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title" id="myModalLabel"><i class="lnr lnr-pencil"></i>  Edit Card</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="cardEditForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Theme Name</label>
                        <input formControlName="ecardname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Card name" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Card Image</label>
                        <input class="form-control" id="avatar1" #fileInput (change)="onFileChange($event)" type="file">
                        <div class="imageouter">
                            <img [src]="imagePath" formControlName="ecardImage" class="img-fluid center-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Default Message</label>
                        <textarea formControlName="emessage" class="form-control" id="exampleInputEmail1" placeholder="Message" maxlength="160"> </textarea>
                        <small class="form-text text-muted">Max. 160 characters</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card CSS Style</label>
                        <textarea formControlName="ecardcss" class="form-control" id="exampleInputEmail1" placeholder="Message"> </textarea>
                        <small class="form-text text-muted">Add css for the card</small>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input formControlName="eisactive" type="checkbox"> Active
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="updatecard()" class="btn btn-primary">Update Card</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="lnr lnr-warning"></i>  Delete Card?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure delete "Card Theme Name" card permanently?
            </div>
            <div class="modal-footer">
                <button type="button" (click)="delete()" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="pcard">
                <div class="cardouter">
                    <div class="cardinner clearfix">
                        <div class="cardleft">
                            <p>Card #237846</p>
                            <div class="imageouter">
                                <img src="assets/images/cardimage/card-img-001.png" class="img-fluid" alt="Card Photo" title="Card Image">
                            </div>
                        </div>
                        <div class="cardright">
                            <div class="pad015">
                                <div class="stamp">
                                    <div class="rubberstamp">14-02-2018 12:40</div>
                                </div>
                                <h1 class="cardtext">Hi, User</h1>
                                <p class="cardtext">message</p>
                                <h2 class="cardtext text-right">- Pc</h2>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="cardfooter">Made with <span>❤</span></div>
                </div>
            </div>
        </div>
    </div>
</div>