<div class="col-md-12">
    <div class="box">
        <div class="boxheader">
            <h1>Card Themes</h1>
            <Button (click)="reset()" data-toggle="modal" data-target="#NewCard" class="btn btn-primary btn-sm pull-right">
                <span class="glyphicon glyphicon-plus"></span> Add New Card</Button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Active/Inactive</th>
                        <th>Card Theme</th>
                        <th>Message</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sb of cardtheme;let i =index">
                        <td>
                            <label class="switch">
                                <input type="checkbox" [checked]="sb.isactive">
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>{{sb.name}}</td>
                        <td>
                            <p class="ellipsis">{{sb.message}}</p>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" style="width:160px" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button data-toggle="modal" data-target="#ViewCard">
                                            <span class="glyphicon glyphicon-picture"></span> View</button>
                                    </li>
                                    <li>
                                        <button (click)="editCard(sb)" data-toggle="modal" data-target="#EditCard">
                                            <span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    </li>
                                    <li>
                                        <button data-toggle="modal" (click)="deleteCard(sb)" data-target="#DeleteCard">
                                            <span class="glyphicon glyphicon-trash"></span> Delete</button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="NewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form [formGroup]="cForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">New Card</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Theme Name</label>
                        <input formControlName="cardName" type="text" class="form-control" id="cardName" placeholder="Card name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Card Image</label>
                        <input class="form-control" id="avatar" #fileInput (change)="onFileChange($event)" type="file">
                        <img [src]="imagePath" formControlName="cardImage" class="img-responsive">
                        <p class="help-block">Card main image, Only Square image, Minimum resolution 500px x 500px</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Default Message</label>
                        <textarea formControlName="cardMessage" class="form-control" id="cardMessage1" placeholder="Message"> </textarea>
                        <p class="help-block">Max. 160 characters</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card CSS Style</label>
                        <textarea formControlName="cardCss" class="form-control" id="cardCss1" placeholder="Css"> </textarea>
                        <p class="help-block">Add css for the card</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input formControlName="cardIsActive" type="checkbox"> Active
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" (click)="savecard()" [disabled]="!cForm.valid" class="btn btn-primary">Publish Card</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="EditCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form [formGroup]="cardEditForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Card</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Theme Name</label>
                        <input formControlName="ecardname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Card name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Card Image</label>
                        <input class="form-control" id="avatar1" #fileInput (change)="onFileChange($event)" type="file">
                        <img [src]="imagePath" formControlName="ecardImage" class="img-responsive">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Default Message</label>
                        <textarea formControlName="emessage" class="form-control" id="exampleInputEmail1" placeholder="Message"> </textarea>
                        <p class="help-block">Max. 160 characters</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card CSS Style</label>
                        <textarea formControlName="ecardcss" class="form-control" id="exampleInputEmail1" placeholder="Message"> </textarea>
                        <p class="help-block">Add css for the card</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input formControlName="eisactive" type="checkbox"> Active
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" (click)="updatecard()" class="btn btn-primary">Update Card</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="DeleteCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Delete Card?</h4>
            </div>
            <div class="modal-body">
                Are you sure delete "Card Theme Name" card permanently?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" (click)="delete()" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="cardouter">
                    <div class="cardinner clearfix">
                        <div class="cardleft">
                            <p>Card #237846</p>
                            <img src="assets/images/cardimage/card-img-001.png" class="img-responsive" alt="Card Photo" title="Card Image">
                        </div>
                        <div class="cardright">
                            <div class="pad015">
                                <h1 class="cardtext">Hi, User</h1>
                                <p class="cardtext">{{message}} </p>
                                <h2 class="cardtext text-right">- Pc</h2>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>