html {height:100%;}
body{ font-family: 'Open Sans', sans-serif;min-height:100%;overflow-x:hidden;animation: colorchange 50s linear infinite;}
body.admin{background: #fcfcfc;animation: none}
.wrap{position:relative;margin:100px 180px}
.pcard{background:#fff url( assets/images/postcard-bg.png);padding:10px;box-shadow:0 20px 30px rgba(0,0,0,0.2);z-index:9;position:relative}
.pcard .cardleft,.pcard .cardright{width:50%;float:left;padding:5px}
.pcard .cardright {font-family: 'Open Sans', sans-serif;}
.pcard .cardleft{border-right:2px dotted rgba(0,0,0,.2);}
.pcard .imageouter {padding: 15px;background:#fff url( assets/images/loading.gif) no-repeat center center; min-height:333px; position: relative}
.pcard .imageouter .imgsaf{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.pcard .cardleft p{color: #999;margin: 0;font-size: 12px;}
.pcard .cardtext{word-break:break-word}
.pcard .cardouter{background:#fff;padding:10px;position:relative}
.pcard .cardouter .cardright h1{font-size:28px;margin:0 0 10px;text-transform:capitalize;color: #6899af;}
.pcard .cardouter .cardright h2{font-size:20px;margin:0 0 20px;color: #888;}
.pcard .cardouter .cardright p{font-size:18px; margin: 0 0 10px;color: #e59677;line-height: 24px;}
.pcard .cardimgwraper{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.cardfooter, .footertxt{text-align:center;color:#ccc;font-size:10px;margin: 5px 0 0;}
.cardfooter span{color: #e59677;display: inline-block}
.cardfooter span:hover{transform: scale(5);animation:beat .5s infinite;transition: .3s linear all;}
.btn-post{position:fixed;outline:none;cursor: pointer;border-radius:5px;right:40px;bottom:40px;box-shadow:0 6px 15px rgba(0,0,0,0.3);animation: bounce 0.5s;animation-direction: alternate;animation-timing-function: cubic-bezier(.5,0.05,1,.5);animation-iteration-count: infinite;z-index:9;width: 60px;height: 42px;}
.createcardouter .input-group-text{border-color:transparent;color:#ccc!important}
.createcardouter .form-control,.createcardouter .input-group-text{background:transparent;border-width:0 0 1px;border-color:#ddd;border-radius:0;padding:6px 2px 0;font-size:16px;height:30px;color:#333}
.createcardouter textarea.form-control{height:120px;margin-bottom:15px}
.createcardouter .select {padding: 0 15px;margin-bottom: 5px;}
.form-control{height:40px;border-radius:0;border:1px solid #999;box-shadow:none}
.form-control:focus{box-shadow:none}
a {color: #7fb1c8}
h1{ font-size: 2rem; margin-bottom: 1.5rem;}
.btn{border-radius:0;border: 0}
.btn-secondary{color:#9fa2af;background-color:#eee;}
.btn-primary{color:#fff;background-color:#7fb1c8;}
.btn-danger{color:#fff;background-color:#e59677;}
.btn-primary:hover{color:#fff;background-color:#43a2ce;}
.btn-secondary:hover{color:#eee;background-color:#999;}
.btn.btn-optionbar {padding: 1px 5px;color: #7fb1c8;background-color: #fcfcfc;float: right;}
.buttongroup .btn{margin-bottom:10px}
.btn.btn-social {background-image:url( assets/images/social-share-icons.svg)!important;opacity: .6;background-color:#fff ; height: 40px; width: 40px;transition:.3s ease all}
.btn.btn-social:hover{transform: translateY(-5px);transition:.3s ease all;opacity:1;}
.btn.btn-social.facebook {background-position:0 0}
.btn.btn-social.google {background-position:-40px 0}
.btn.btn-social.whatsapp {background-position:-80px 0}
.btn.btn-social.messenger {background-position:-120px 0}
.btn.btn-social.sms {background-position:-160px 0}
.btn.btn-social.mail {background-position:-200px 0}
.btn.btn-social.share {background-position:-240px 0}
.btn.btn-social.print {background-position:-280px 0}
.btn-primary.disabled, .btn-primary:disabled, .btn-secondary.disabled, .btn-secondary:disabled {cursor: not-allowed}
.input-group-text {border: 1px solid #999; border-radius: 0;}
.switch {position: relative; display: inline-block; width: 42px; height: 21px;margin: 0 10px 0 0; float: left;}
.switch input {display:none;}
.slider {position: absolute;cursor: pointer; top: 0;left: 0;right: 0;bottom: 0;background-color: #eee;transition: .4s;border-radius: 34px;}
.slider:before {position: absolute;content: ""; height: 15px; width: 15px; left: 4px; bottom: 3px; background-color: #fff;transition: .4s;border-radius: 50%;}
input:checked + .slider {background-color: #a5e199;}
input:checked + .slider:before {-ms-transform: translateX(19px);transform: translateX(19px);}
#NewPost .no {background: #7fc8b1; width: 20px; height: 20px; position: absolute;right: -8px;top: -8px;border-radius: 50%;box-shadow: 0 1px 5px rgba(51, 51, 51, 0.5);color: #fff;text-align: center;font-size: 8px;padding: 5px;}
.bubbles {width: 30px; height: 30px; top:6px;left:14px; z-index: -1;position: absolute;background:rgba(255,255,255,.1);animation:blast 1s ease-in infinite;border-radius: 50%;}
/*HAMBURGER*/
label.hamburgermenu .menu{position:absolute;right:0;top:0;z-index:100;width:100px;height:100px;background:rgba(255,255,255,0);border-radius:50% 50% 50% 50%;-webkit-transition:.2s ease-in-out;transition:.2s ease-in-out;-webkit-box-shadow:0 0 0 0 rgba(255,255,255,0),0 0 0 0 rgba(255,255,255,0);box-shadow:0 0 0 0 rgba(255,255,255,0),0 0 0 0 rgba(255,255,255,0);cursor:pointer}
label.hamburgermenu .hamburger{position:absolute;top:40px;right: 30px;width:30px;height:1px;background:#ece7ea;display:block;-webkit-transform-origin:center;transform-origin:center;-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
label.hamburgermenu .hamburger:after,label.hamburgermenu .hamburger:before{-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out;content:"";position:absolute;display:block;width:100%;height:100%;background:#ece7ea}
label.hamburgermenu .hamburger:before{top:-10px}
label.hamburgermenu .hamburger:after{bottom:-10px}
label.hamburgermenu input{display:none}
label.hamburgermenu input:checked + .menu{-webkit-box-shadow:0 0 0 100vw #FFF,0 0 0 100vh #FFF;box-shadow:0 0 0 100vw #FFF,0 0 0 100vh #FFF;border-radius:0;background:#fff}
label.hamburgermenu input:checked + .menu .hamburger{-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#7fb1c8}
label.hamburgermenu input:checked + .menu .hamburger:after{-webkit-transform:rotate(90deg);transform:rotate(90deg);bottom:0;background:#7fb1c8}
label.hamburgermenu input:checked + .menu .hamburger:before{-webkit-transform:rotate(90deg);transform:rotate(90deg);top:0;background:#7fb1c8}
label.hamburgermenu input:checked + .menu + ul{opacity:1;display:block}
label.hamburgermenu ul{z-index:200;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;margin:0;padding:0;list-style:none;display:none}
label.hamburgermenu li{margin-bottom:10px;cursor: pointer;display:block;color:#7fb1c8;text-decoration:none;padding:10px;text-align:center;font-size:1.8em;transition:.2s ease-in-out}
label.hamburgermenu li:hover{background:rgba(127,177,200,0.3);color:#7fb1c8;text-decoration:none}
label.hamburgermenu li i{margin: 0 10px}
.pad015{padding: 0 15px}
.mar0 { margin: 0}
.mar150 { margin: 15px 0}
.mar300 { margin: 30px 0}
.marbot10{margin: 0 0 10px 0}
textarea.form-control{min-height: 100px;width: 100%;overflow-x: hidden;}
.btn-secondary.btn-box{padding: 30px 10px; min-width: 125px;  margin: 0 15px 15px 0;background: #eaf1f5; color: #7fb1c8}
.btn-secondary.btn-box:hover{background: #f1f5f9;  }
.btn-secondary.btn-box i {font-size: 30px;display: block;margin-bottom: 10px;}
.ellipsis{text-overflow: ellipsis;white-space: nowrap;width: 200px;overflow: hidden;margin: 0;}
/*POSTCARD ANIMATION*/
#PostCard{transform:scale(0);}
#PostCard.postpopup{animation:postpopupanim 3s 1 alternate;transform:scale(1);}
#PostCard.postpopup.send{animation:postsendanim 3s 1;}
.postouter{width:158px;height:112px;transform:scale(1);transition:.3s ease all;cursor:pointer;left:calc(50% - 80px);position:absolute;top:30%;background: #edeef0;border-radius: 11px;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);}
.postouter:hover{animation: none}
.postouter .postcardindicator{background:#fa8383;position:absolute;right:-10px;top:-10px;border-radius:50%;height:30px;width:30px;box-shadow:0 5px 5px rgba(0,0,0,0.2);animation:beat .25s infinite alternate;z-index:5}
.postouter .postcard,.postouter .postcover1,.postouter .postcover2{position:absolute;transform:translateY(0);transition:.5s ease all;width:100%;height:100%;top: 0;left: 0;}
.postouter .postcover1 { z-index:4;top:0;transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform-origin: top;transition-delay: .8s;}
.postouter .postcover2 {z-index: 3}
.postouter .postcard{z-index: 2;margin: 5px 10%;box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);width: 80%;height: 79%;}
.postouter:hover .postcover1{z-index: 1;transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);transition:.5s ease all;transform-origin: top}
.postouter:hover .postcard{z-index:3;transform:translateY(-50px);transition:.5s ease all; transition-delay: .3s}
.stamp { background: url( assets/images/stamp.svg) no-repeat right center; height: 80px;margin-bottom: 10px; text-align: center}
.stamp .rubberstamp{ margin:0 67px 0 0;padding: 33px 6px; float: right;transform: rotate(-15deg);color: #000; border-radius:50%;height: 80px;width: 80px; font-size: 8px; font-family: Courier New, Courier, monospace;text-align: center}
.newcard{width: 60px; bottom: 10px; right: 10px; float: right; cursor: pointer}
.box{ margin: 0 0 20px;padding: 15px;background: #fff;border: 1px solid #eaf1f5;}
.box .boxheader h1{ font-size: 18px; margin: 0;float: left;color: #7fb1c8;}
.box .boxheader {padding: 0 0 10px;margin-bottom: 10px; border-bottom: 1px solid #eee;height: 30px;}
.required{color: #fa8383; font-size: 20px}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {border-top: 1px solid #f7f9fa;}
.table-hover>tbody>tr:hover {background-color: #f7f9fa;}
.qrcodewrapper{text-align: center; margin: 25px 0}
.qrcodewrapper img{ width: 120px; margin: 0 auto 15px;}
.qrcodewrapper p{ font-size: 10px; color: #ccc }
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.modal-content{border: 0}
.modal.fade .modal-dialog {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout form{display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;flex-direction: column;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h4 {float:left;}
.modal.show .modal-dialog {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
.pagecontent{padding: 30px;color: #777;}
.pagecontent .lead{margin-bottom: 3px}
.pagecontentfooter{font-size: 10px; color: #ccc}
.homelogo{opacity:.4;margin: 20px auto;}
.showonhower{visibility: hidden; text-align: right}
.pcard:hover .showonhower{visibility: visible}
.cardbox{padding: 60px 30px; background: #fff; box-shadow: 0 5px 10px rgba(0,0,0,.1);color: #999; text-align: center; margin: 60px 0}
.cardbox p.lead{margin-bottom: 5px}
.cardbox p{margin-bottom: 25px;}
@keyframes beat {
to{transform:scale(1.1)}
}
@keyframes bounce {
from{ transform: translate3d(0, 0, 0);}
to{ transform: translate3d(0, 25px, 0);}
}
@keyframes postpopupanim {
0%{transform:scale(0)translateY(-200px);opacity: 0}
10%{transform:scale(.2)translateY(-640px);opacity: 1}
30%{transform:scale(.2) translateY(0)}
50%{transform:scale(1)translateY(0)}
}
@keyframes blast {
0%{transform:scale(1);opacity:1}
100%{transform:scale(5); opacity:0}
}
@keyframes colorchange {
  0%   {background: #2751c7;}
  25%  {background: #bd26a9;}
  50%  {background: #20be82;}
  75%  {background: #c22222;}
  100% {background: #2751c7;}
}
@media (max-width: 1200px) {
.wrap{margin:100px}
}
@media (min-width: 992px){
.modal-lg {max-width: 750px;}
}
@media (max-width: 992px) {
.wrap{margin:100px 0}
}
@media (max-width: 768px) {
.modal-lg {max-width: 680px;}
.pcard{padding: 10px}
.pcard .cardleft{border-right:0 dotted rgba(0,0,0,.2);border-bottom:2px dotted rgba(0,0,0,.2);}
.pcard .cardright{padding:10px}
.pcard .cardleft,.pcard .cardright{width:100%}
.wrap{margin:100px 60px}
.stamp { background: url( assets/images/stamp.svg) no-repeat right center; height: 50px}
.stamp .rubberstamp{ margin:0 40px 0 0; padding: 20px 10px; height: 50px; width: 50px;font-size: 4px; }
.modal-dialog.modal-dialog-slideout {width: 80%}
}
@media (max-width: 576px) {
.wrap{margin:60px 20px}
.postouter{width:96px;height:68px;left:calc(50% - 48px);border-radius: 7px;}
.postouter:hover .postcard{transform:translateY(-30px);}
.cardleft{padding:0 10px}
.pad015 { padding: 0;}
label.hamburgermenu a{font-size:1.6em;}
label.hamburgermenu .hamburger{top:30px;right: 20px;}
.pcard .imageouter{min-height: unset; padding: 10px 40px;}
.pcard .cardouter .cardright h1{font-size:24px;}
.pcard .cardouter .cardright h2{font-size:16px;}
.pcard .cardouter .cardright p{font-size:16px;line-height: 20px;}
}
@media print {
.btn-post,.hamburgermenu,.postouter,.btn, .imgsaf, .modal, .modal-backdrop{display: none;visibility:hidden}
.pcard{display: block;}
.pcard .cardright,.pcard .cardleft{width: 50%;float: left;}
.pcard .cardouter .cardright h1{font-size:40px;margin:0 0 15px}
.pcard .cardouter .cardright h2{font-size:28px;margin:0 0 15px}
.pcard .cardouter .cardright p{font-size:26px;margin: 0 0 15px;line-height: 30px}
.stamp { background: url( assets/images/stamp.svg) no-repeat right center; height: 100px}
.stamp .rubberstamp{ margin:0 80px 0 0; padding: 40px 22px; height: 100px; width: 100px;font-size: 8px; }
}