<div class="col-md-4 col-md-offset-4">
  <br>
  <br>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">Admin Login</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <a class="btn btn-default" href="#">Login</a>
    </div>
  </div>
</div>