<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 align-self-center">
      <br>
      <br>
      <br>
      <img src="assets/images/logo.svg" width="160" alt="PostCardi Logo" title="PostCardi" class="homelogo img-fluid d-block mx-auto">
      <div class="loginbox">
        <div class="boxheader">
          <h1 class="h4">Admin Login</h1>
          <hr>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <button (click)="login('dash')" class="btn btn-secondary">Login</button>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>